			* {
				padding: 0px;
				margin: 0px;
			}

			.Z_nav_box {
				text-decoration: none;
				list-style: none;

				/* margin-left: 300px; */
			}

			ul {
				list-style: none;
			}

			img {
				width: 340px;
				height: 201px;
				margin: 0px;
				padding: 0px;

			}

			#logo {
				width: 130px;
				height: 36px;
				margin-left: 108px;
			}

			.smallBox {
				border: 1px solid lightgray;
				width: 340px;
				height: 320px;
				display: inline-block;
				margin-left: 21px;
				margin-top: 25px;
			}

			.smallBox .z_size {
				margin-left: 19px;
				margin-top: 10px;
				float: left;
				position: relative;
				top: -31px;
				left: -1px;
				font-size: 13px;
				color: gray;

			}

			.smallBox .z_position {
				display: inline-block;
				padding: 0px;
				margin-left: 0px;
				margin-top: 20px;
				float: left;
				position: relative;
				/* 向右，向下是正的，向上，向左移动是负的 */
				top: -15px;
				left: -98px;
				font-size: 13px;
				color: gray;




			}

			.smallBox .z_smallBox {
				display: inline-block;
				margin-left: 230px;
				margin-top: 10px;
				color: #f60;
				font-size: 19px;
				font-weight: 700;

			}

			.smallBox .span1 {
				font-size: 17px;
				font-weight: 700;
				margin-left: 15px;

			}

			#BigBox {
				/* border:1px solid red; */
				width: 1200px;
				margin-left: 187px;
				height: 1150px;
				margin-top: 15px;
			}

			a {
				text-decoration: none;
				color: black;
			}

			a:hover {
				color: #f60;
			}

			.f_l {
				float: left;
			}

			.f_r {
				float: right;


			}

			.Z_filter {
				/* 找房方式，两边不允许有任何东西，所以就会往下掉 */
				clear: both;


			}

			.inner_div {
				width: 1500px;
				margin: 0 auto;
				position: relative;
				/* border: 1px solid red; */
			}

			.clear:after {
				content: '';
				display: block;
				clear: both;
			}

			.top_font {
				margin: 0px 5px 10px 200px;
				margin-left: 670px;
				/* border: 1px solid red; */
			}

			.top_font a {
				color: #999;
				vertical-align: middle;
				/* 上下居中 行高 */
				line-height: 20px;
				padding-top: 5px;
			}

			.top_font a:hover {
				color: #f60;
			}

			.top_font>a {

				margin-left: 35px;
				color: #333;
			}

			.top_font>span>a {

				margin-left: 19px;
				color: #333;
			}

			#top_nav {
				padding: 15px;
				background-color: #FFF;
				/* 这个是显示分隔线 */
				border-bottom: 1px solid #999;
				/* border-top: 1px solid #999; */
				/* 父级标签加阴影 */
				box-shadow: 0px 5px 3px #ccc;
				/* position:fixed; */
			}

			/* 尾部样式导航 */
			#footer_nav {
				width: 980px;
				margin: 20px auto;
				text-align: center;
			}

			#footer_nav p {
				margin-top: 10px;
				color: #666;
			}

			#footer_nav p a {
				color: #333;
			}

			#footer_nav p a:hover {
				color: #f60;
			}

			#section {

				display: block;
			}

			#btn {
				margin-top: 60px;
				width: 1000px;
				height: 100px;
				/* border:1px solid red; */
			}

			#btn>input {
				margin-left: 530px;
				height: 42px;
				width: 300px;
			}

			#btn>input+span>input {
				width: 100px;
				height: 46px;
				/* margin-left: 10px; */
				background-color: orange;
				color: white;
				/* padding: 0px; */
				margin-left: -4px;
				border: none;
				font-size: 17px;
			}

			.f-box {

				margin-left: 135px;
				padding-bottom: 10px;
				border-bottom: 1px solid lightgray;
				width: 1180px;

			}

			.f_box_1 {
				margin-top: 13px;
				margin-left: 135px;
				padding-bottom: 13px;

				border-bottom: 1px solid lightgray;
				width: 1180px;

			}

			.f_box_2 {

				margin-left: 135px;

			}

			.f_box_2>.z_money {
				margin-top: -6px;
				padding-bottom: 11px;
				border-bottom: 1px solid lightgray;
				width: 1180px;
			}

			.f_box_2 .f-item {
				margin-top: -6px;
				padding-bottom: 12px;
				border-bottom: 1px solid lightgray;
				width: 1180px;
			}

			.f_box_2 .opt {
				display: inline-block;
				margin-left: 40px;
				margin-top: 19px;
			}

			.f_box_1 .opt {
				display: inline-block;
				margin-left: 40px;

			}

			.f_box_1 .opt a {

				padding-left: 11px;
			}

			.f_box_2 .opt a {

				padding-left: 11px;
			}

			.f_box_2 input {
				display: inline-block;
				width: 67px;
				margin-left: 5px;

			}

			.child-opt {
				display: none;
			}

			.wrapper {
				display: inline-block;
			}

			.f-box>.f-item>.opt,
			.f-box>.f-item>.opt>.opt-type {
				display: inline-block;
				margin-left: 10px;

			}

			.more-box>.up {
				display: block;
				margin-left: 717px;
				margin-top: 20px;
			}

			#section>#Z_pages1>.Z_pages {
				/* display: inline-block; */
				margin-left: 470px;
			}

			#section>#Z_pages1>.Z_pages a {
				display: inline-block;
				margin-left: 15px;
				/* width:30px;
				height: 40px;
				background-color: #D3D3D3; */
			}

			#section>#Z_pages1>.Z_pages span {
				margin-left: 8px;
			}

			#section>#Z_pages1>.Z_pages input {
				display: inline-block;
				width: 66px;
				line-height: 20px;
			}

			#section>#Z_pages1>.Z_pages .num {
				text-align: center;
				display: inline-block;
				height: 20px;
				padding-top: 1px;
				padding-bottom: 2px;
			}

			#section>#Z_pages1>.Z_pages .marL20,
			#section>#Z_pages1>.Z_pages .go {
				margin-left: 13px;
				display: inline-block;
				height: 29px;
			}

			.Z_list-filter {
				margin-left: 1128px;
			}

			.Z_list-filter>.option>.ico-sort {
				padding-left: 8px;
			}

			/* nth-of-type a的第五个节点*/
			#Z_pages1>.Z_pages a:nth-of-type(5) {
				display: inline-block;
				width: 65px;
				height: 25px;
				border: 1px solid lightgrey;
				text-align: center;
				background-color: #fff;
			}

			#Z_pages1>.Z_pages a {
				display: inline-block;
				width: 30px;
				height: 25px;
				border: 1px solid lightgrey;
				text-align: center;
				padding-top: 2px;
				background-color: #EFEFEF;
			}

			#section2 {
				display: inline-block;
			}

			#section2>#div2 {
				margin-top: 34px;
				margin-left: 37px;
				width: 358px;
				height: 800px;
				/* 				border: 1px solid red;
 */
				display: inline-block;
				position: relative;
				top: -840px;
				left: 9px;

			}

			#section2>#div2 .month_money {
				color: #FE9523;
				font-size: 23px;

				font-family: "微软雅黑";
				margin-top: 18px;
			}

			#section2>#div2 .server_money {
				font-size: 13px;
				color: grey;
				margin-top: 5px;
			}

			#section2>#div2 .butie .plan {
				display: inline-block;
				margin-top: 15px;
				color: #FE5265;
				width: 74px;
				height: 27px;
				text-align: center;
				padding-top: 4px;
				background-color: #FEECE9;
			}

			#section2>#div2 .butie .butie_month {
				color: #FE5265;
				padding-left: 6px;
			}

			#section2>#div2>.bottom {
				padding-bottom: 13px;
				border-bottom: 1px solid #F3F3F3;
			}

			#section2>#div2>.bottom>span {
				display: inline-block;
				width: 70px;
				height: 24px;
				text-align: center;
				padding-top: 6px;
				background-color: #F6F6F6;
				margin-top: 14px;
				font-size: 13px;
				color: #626262;

			}

			#section2>#div2 .detail {
				display: inline-block;
				width: 390px;
				height: 25px;
				margin-top: 20px;
			}

			#section2>#div2 .detail .left,
			#section2>#div2 .detail .middle,
			#section2>#div2 .detail .right {
				width: 90px;
				height: 25px;
				display: inline-block;
				font-size: 22px;

			}

			#section2>#div2 .detail .middle,
			#section2>#div2 .detail .right {
				margin-left: 38px;
			}

			#section2>#div2 .jianjie .middle,
			#section2>#div2 .jianjie .right {
				margin-left: 38px;
			}

			#section2>#div2 .jianjie {
				display: inline-block;
				width: 390px;
				height: 29px;

			}

			#section2>#div2 .jianjie .left,
			#section2>#div2 .jianjie .middle,
			#section2>#div2 .jianjie .right {
				width: 90px;
				height: 29px;
				display: inline-block;
				font-size: 16px;
				margin-top: 4px;
				color: #989898;

			}

			.modify1 {
				margin-top: 10px;
			}

			.modify {
				color: #989898;
			}

			.modify+span {
				margin-left: 20px;
			}

			#section2>#div1 {
				display: inline-block;
				width: 760px;
				height: 590px;

				margin-left: 180px;
				position: relative;
				top: 34px;


			}

			#section2 #div1>.lunbo img {
				width: 760px;
				height: 560px;

			}

			#section2 #div1 .button img:nth-of-type(1) {
				width: 22px;
				height: 90px;
				position: absolute;
				top: 250px;
				left: 24px;
			}

			#section2 #div1 .button img:nth-of-type(2) {
				width: 24px;
				height: 90px;
				position: absolute;
				top: 249px;
				left: 712px;
			}

			#section2 #div1 .button img:nth-of-type(3) {
				width: 96px;
				height: 36px;
				position: absolute;
				top: 19px;
				left: 636px;

			}

			#section2>#div2>.bottom1 {
				margin-top: 30px;
			}

			#section2>#div2>.bottom1>.connect {
				width: 370px;
				height: 113px;
				border: 1px solid lightgray;
			}

			#section2>#div2>.bottom1>.connect>.lianxi {
				width: 337px;
				height: 35px;
				/* border:1px solid red; */
				font-size: 19px;
				text-align: center;
				background-color: orange;
				color: white;
				padding-top: 11px;
				margin: 0 auto;
				margin-top: 14px;
			}

			#section2>#div2>.bottom1>.connect>.cishu {
				font-size: 13px;
				color: #999999;
				text-align: center;
				margin-top: 14px;
			}

			#section2>#div1>.jianjie>.fangwu {
				display: block;
				font-size: 22px;
				font-weight: bold;
				margin-top: 15px;
			}

			#section2>#div1>.jianjie>.fangwuno {
				display: block;
				font-size: 12px;
				color: #999999;
				margin-top: 9px;
			}

			#section2>#div1>.jianjie img {
				display: inline-block;
				width: 65px;
				height: 65px;
				margin-top: 28px;


			}

			#section2>#div1>.jianjie>.renwu {
				/* border: 1px solid red; */
			}

			#section2>#div1>.jianjie>.renwu>.name1 {
				display: inline-block;
				width: 70px;
				height: 22px;
				margin-bottom: 80px;
				/* 				  border:1px solid red; 
 */
				vertical-align: middle;
				margin-left: 10px;
				font-size: 20px;
			}

			#section2>#div1>.jianjie>.renwu>.name2 {
				display: inline-block;
				font-size: 15px;
				color: grey;
				margin-left: -75px;
				position: relative;
				top: -12px;
				/* 				border:1px solid red;
 */
			}

			#section2>#div1>.jianjie>.reason {
				background-color: #f5f5f5;
				height: 57px;
				position: relative;
				top: -24px;
			}

			#section2>#div1>.jianjie>.reason p {
				padding-top: 15px;
				padding-left: 15px;
				font-size: 17px;
			}

			#section2>#div1>.jianjie>.fangwuxinxi {
				width: 710px;
				height: 66px;
				margin-top: -8px;
			}

			#section2>#div1>.kongqijiance>.kongqi {
				display: block;
				font-size: 22px;
				font-weight: bold;
				margin-top: 24px;
			}


			#section2>#div1>.kongqijiance .testbaogao a,
			.shichang a {
				/* 链接下划线 */
				text-decoration: underline;
			}

			#section2>#div1>.kongqijiance>.date {
				display: inline-block;
				margin-top: 17px;
				font-size: 17px;
			}

			.baogao {
				font-size: 17px;
			}

			#section2>#div1>.kongqijiance>.date>.testdate,
			.testdate2,
			.testbaogao,
			.qianyueshichang,
			.zhuyishixiang {
				color: #999;
			}

			.testbaogao {
				display: inline-block;
				margin-top: 17px;
			}

			.testdate1 {
				margin-left: 47px;
			}

			.baogao a {
				margin-left: 51px;
			}

			#div1>.zuyuexinxi>.zuyue {
				display: block;
				font-size: 22px;
				font-weight: bold;
				margin-top: 27px;
			}

			.testdate2,
			.qianyueshichang,
			.zhuyishixiang {
				display: inline-block;
				margin-top: 17px;
				font-size: 17px;
			}

			.testdate3 {
				display: inline-block;
				margin-left: 30px;
			}

			.nianxian {
				margin-left: 46px;
			}

			.shichang a {
				margin-left: 51px;
			}

			.xiaoqujianjie>.Introduction {
				display: block;
				font-size: 22px;
				font-weight: bold;
				margin-top: 27px;

			}

			.xiaoqujianjie>img {
				display: inline-block;
				margin-top: 20px;
				width: 310px;
				height: 210px;
			}

			.xiaoqujianjie .mingcheng {
				position: relative;
				top: -188px;
				font-size: 19px;
				display: inline-block;
				margin-left: 16px;
				font-weight: bold;
			}

			.xiaoqujianjie>.xiaoqudetails {
				display: inline-block;
				width: 430px;
				height: 80px;
				/* border:1px solid red; */
				position: relative;
				top: -182px;
				margin-left: 328px;

			}

			.xiaoqujianjie .left1 {
				display: inline-block;
				margin-top: -4px;
				float: left;
				font-size: 17px;
			}

			.xiaoqujianjie .right1 {
				display: inline-block;
				margin-top: -4px;
				float: right;
				font-size: 17px;
			}

			.left1>.time>.time1,
			.lvhualv1,
			.company1,
			.jianzhutype1,
			.rongjilv1,
			.companyTel1 {
				display: inline-block;
				color: #999;
				margin-top: 15px;
				margin-left: 4px;
			}

			.lvhualv2,
			.rongjilv2 {
				margin-left: 15px;
			}

			.restfangyuan {
				display: inline-block;
				border: 1px solid #CCCCCC;
				height: 45px;
				width: 759px;
				position: relative;
				top: -61px;
			}

			.restfangyuandetail {
				display: inline-block;
				margin-left: 238px;
				padding-top: 10px;

			}

			.tuijian>.tuijianfangyuan {
				display: block;
				font-size: 22px;
				font-weight: bold;
				margin-top: -49px;
				margin-left: 23px;
			}

			.tuijian {
				display: inline-block;
				margin-left: 160px;
				/* border: 1px solid red; */
				height: 380px;
			}




















