body,h1,hr,p,dl,dt,dd,ul,ol,li,form,button,input,th,td {
	margin: 0;
	padding: 0;
}

html {
	background: none repeat scroll 0 0 #fff;
	color: #000;
}


textarea {
	overflow: auto;
	vertical-align: top
}

.hidden {
	overflow: hidden;
}

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: #ffa001;
}

.red {
	color: #f00;
}

.blue {
	color: #0088b5;
}

.gray-8 {
	color: #888;
}

.gray-9 {
	color: #999;
}

.gray-6 {
	color: #666;
}

.gray-a {
	color: #aaa;
}

.c_black {
	color: #000;
}



.fb {
	font-weight: bold;
}

.font_wr {
	font-weight: 500;
	font-family: 'Microsoft Yahei';
}

.en,
.date {
	font-family: Arial, Helvetica, sans-serif;
}

.area {
	width: 1200px;
	margin: 0px auto;
	text-align: left;
}

.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.ellipsis {
	width: 100%;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.inp-bor {
	color: #c5c5c5;
	height: 30px;
	line-height: 30px;
}

.inp-bor:focus {
	color: #000;
}

.radius3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.radius5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.radius10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.radius15 {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}


.org_btn {
	background: #fd8145;
	color: #fff;
	padding: 0px 20px;
	line-height: 30px;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
}

.org_btn:hover {
	background: #fd5d0f;
}


.btn-blue-centre {
	background: #390;
	color: #fff;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	padding: 0px 20px;
}

.btn-blue-centre:hover {
	background: #5bb848;
}








.boxy-wrapper-box {
	height: 100%;
	overflow: auto;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%
}

.boxy-wrapper {
	margin: 0px auto;
}

.boxy-wrapper.fixed {
	position: absolute;
}

.boxy-modal-blackout {
	position: absolute;
	background: #000;
	left: 0;
	top: 0;
	opacity: .5;
	filter: alpha(opacity=50);
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
}

.boxy-wrapper {
	empty-cells: show;
}

.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left {
	padding: 0;
	height: 5px;
	width: 5px;
	background-image: url(../images/common/boxy.png);
}

.boxy-wrapper .top-right {
	background-position: -5px 0
}

.boxy-wrapper .bottom-right {
	background-position: -5px -5px
}

.boxy-wrapper .bottom-left {
	background-position: 0 -5px
}

.boxy-wrapper .top,
.boxy-wrapper .bottom {
	height: 5px;
	background: #fff;
}

.boxy-wrapper .left,
.boxy-wrapper .right {
	width: 5px;
	background: #fff;
}



.boxy-wrapper .title-bar {
	position: relative;
}

.boxy-wrapper .title-bar.dragging {
	cursor: move;
}

.boxy-wrapper .title-bar h2 {
	font-size: 20px;
	color: #4c4c4c;
	font-weight: bold;
	line-height: 20px;
	padding: 15px 0 20px 0;
	font-weight: normal;
	text-align: center;
}

.boxy-wrapper .title-bar .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #f90;
	width: 15px;
	height: 15px;
	font-size: 1px;
	text-indent: -9999px;
	background-position: -140px 0;
}

.boxy-wrapper .title-bar .close:hover {
	background-position: -140px -15px;
}

.boxy-inner {
	background-color: white;
	padding: 0;
}

.boxy-wrapper .org_btn {
	background: #ffa000;
	height: 45px;
	line-height: 45px;
	color: #fff;
	width: 100%;
	border-radius: 5px;
}

.boxy-wrapper .loading_btn {
	background: #ffa000;
	height: 45px;
	line-height: 45px;
	color: #fff;
	width: 100%;
	border-radius: 5px;
}

.boxy-wrapper .loading_btn {
	background: #ccc;
}

.boxy-wrapper .loading_btn:hover {
	background: #ccc;
	cursor: wait;
}


.pages {
	text-align: center;
	padding: 20px 0px;
	color: #666;
	border-top: dotted 1px #ccc;
	margin: 0 14px;
}

.pages a {
	display: inline-block;
	border: solid 1px #ccc;
	color: #666;
	padding: 0px 12px;
	height: 28px;
	line-height: 28px;
	margin: 0px 2px;
	background: #fff;
}

.pages a:hover {
	border: solid 1px #ffa000;
}

.pages a.active {
	border: solid 1px #ffa000;
	color: #fff;
	background: #ffa000;
}

.pages a.active:hover {
	border: solid 1px #ffa000;
	color: #fff;
	background: #ffa000;
}

.pages .num {
	border: solid 1px #ccc;
	height: 21px;
	width: 30px;
	line-height: 21px;
	text-align: center;
}

.pages .go {
	border: solid 1px #ccc;
	height: 23px;
	padding: 0px 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #c5c5c5;
	background: #fff;
	margin-left: 5px;
}

.pages .go:hover {
	color: #333;
}

.pages .marL20 {
	margin-left: 20px;
}

.pages span {
	display: inline-block;
	margin: 0px 5px;
}

.pages .iconfont {
	background: #C4C5BF;
	color: #fff;
	font-size: 14px;
}

.pages .iconfont:hover {
	border: solid 1px #C4C5BF
}

.node_infor {
	height: 40px;
	line-height: 40px;
}

.node_infor a {
	font-size: 14px;
}

.hide {
	display: none;
}


.loadImgShow {
	opacity: 1;
}

body.hidden {
	overflow: hidden;
}

.cur_pointer {
	cursor: pointer;
}


.glbLeft {
	float: left;
}

.glbRight {
	float: right;
}

#topBar .glbLeft {
	margin-left: 0px;
}

#topBar .glbRight {
	margin-right: -10px;
}

#topBar {
	background: #fafafa;
	border-bottom: solid 1px #ccc;
	color: #666;
	height: 30px;
	line-height: 30px;
	position: relative;
	z-index: 99;
}

#topBar .top_list li {
	float: left;
	position: relative;
	padding: 0 10px;
	cursor: pointer;
	list-style: none;
}

#topBar .user .img {
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: 5px;
	margin-top: 5px;
}

#topBar .top_list li.user {
	padding-right: 20px;
	padding-left: 0;
}

#header {
	z-index: 98;
	background: #fff;
	border-bottom: solid 2px #ffa000;
}

#header .logo {
	padding: 20px 0;
	float: left;
	margin-right: 30px;
}

#header .nav {
	float: left;
	height: 30px;
	line-height: 24px;
	margin-top: 30px;
	padding-left: 50px;
}

#header .nav a {
	padding: 0 20px;
	font-size: 16px;
}

#header .nav a.active {
	color: #ffa000;
}

.slideLeft {
	float: left;
	width: 200px;
	border: solid 2px #fafafa;
}

.slideLeft .user {
	text-align: center;
	margin: 20px auto;
}

.slideLeft .user .img {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.slideLeft ul {
	border-top: solid 1px #eee;
	padding: 10px 0;
	padding-left: 30px;
	margin: 0 20px;
}

.slideLeft li {
	line-height: 40px;
	position: relative;
	list-style: none;
}

.slideLeft li a {
	display: block;
	padding-left: 25px;
	font-size: 14px;
}

.slideLeft li b {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
}

.mainRight .title {
	background: #fafafa;
	height: 50px;
	padding: 0 20px;
	font-size: 24px;
	font-size: 16px;
	border-bottom: solid 1px #eee;
	line-height: 50px;
}

.wallet_card {
	font-size: 14px;
	color: #333;
}

.wallet_card_box {
	height: 200px;
	position: relative;
}

.wallet_card_box:after {
	width: 1px;
	height: 128px;
	background: #eee;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -64px;
	content: "";
}

.box_half {
	width: 50%;
	height: 100%;
	float: left;
}

.wallet_card_box .zhanghu_box {
	padding-left: 87px;
	padding-top: 30px;
}

.wallet_card_box .zhanghu_box .top {
	margin-bottom: 40px;
	line-height: 25px;
}

.wallet_card_box .zhanghu_box .top .span {
	display: inline-block;
	margin-right: 15px;
}

.wallet_card_box .zhanghu_box .top .span_i {
	padding-left: 25px;
	color: #999999;
	position: relative;
}

.wallet_card_box .zhanghu_box .top .span_i i {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 1px;
	background: url(../images/zoneIcon.png) no-repeat -31px -177px;
}

.wallet_card_box .zhanghu_box .bottom {
	line-height: 40px;
}

.wallet_card_box .zhanghu_box .bottom .m {
	display: inline-block;
	width: 200px;
	font-size: 36px;
	color: #ffa000;
}

.wallet_card_box .zhanghu_box .bottom .tixian_btn {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ffa000;
	color: #fff;
	border-radius: 5px;
}

#footer {
	padding: 20px 0px;
	background: #fafafa;
	line-height: 20px;
	border-top: solid 1px #ccc;
	margin-left: -205px;
}

#footer .area {
	width: 1000px;
}

#footer .glbLeft {
	width: 700px;
}

#footer .glbRight {
	width: 300px;
	float: right;
}

#footer .fList {
	float: left;
	width: 180px;
}

#footer .fList dt {
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}

#footer .fList dd a {
	display: block;
	font-size: 12px;
	line-height: 24px;
	-moz-transition: all .2s ease-in;
	-o-transition: all.2s ease-in;
	transition: all .2s ease-in;
}

#footer .fList dd a:hover {
	padding-left: 10px;
}

#footer .glbRight .img {
	float: right;
	text-align: center;
	margin-left: 20px;
}

#footer .glbRight .img img {
	width: 100px;
	height: 100px;
}

/* .linksFooter {
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	line-height: 47px;
	height: 47px;
	overflow: hidden;
	margin: 15px auto;
} */

.linksFooter dt {
	float: left;
	margin-right: 10px;
	text-align: center;
}

.linksFooter box {
	float: left;
}

.linksFooter p a {
	display: inline-block;
	margin: 0 5px;
	width: 1000px;
}

/* .footerBottom {
	padding-left: 200px;
	/* background: url(../img/yizu-logo.jpg) left  no-repeat; */
height: 38px;
padding-top: 5px;
}*/