/*焦点图*/
.banner1 {
	width: 1200px;
	height: 456px;
    
 
}
.banner1 .top_slide_wrap1 {
    width: 1200px;
    height: 350px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.num1{
    position: absolute;
    bottom: 0px;
    right: 560px;
    z-index: 2;
}
.num1 li{
    float: left;
    width: 15px;
    height: 15px;
    line-height: 30px;
    border-radius: 50%;
    background: #ccc0b3;
    text-align: center;
   margin: 0 4px;
    font-weight: bolder;
}
.num1 li a{
    color: #000;
}
.num1 li:hover,.num1  .active1{
    background: #ff3c3c;
}
.num1 li:hover a,.num1  .active1 a{
    color: #fff;
}
/* 焦点图左右按钮
.op_btns1 {
    position: absolute;
    bottom: 200px;
    right: 0px;
    width: 700px;
    margin-top: -730px;
    z-index: 3;
}
.op_btns1 .op_btn1 {
    display: block;
    float: left;
    width: 32px;
    height: 60px;
    cursor: pointer;
    margin-top: 80px;
}
.op_btns_2{
	width: 700px;
	position: relative;
}
.banner1 .op_btns1 .op_prev1 {
    background: url(../img/b_left.png) no-repeat center top;
    position: absolute;
    left: -380px;
    top: 60px;
}
.banner1.op_btns1 .op_next1 {
    background: url(../img/b_right.png) no-repeat center top;
    position: absolute;
    right: 0px;
    top: 0px;
} */
