<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 2、全局配置属性：settings -->
    <settings>
        <!-- 数据库表字段列名带下划线自动映射到实体属性的驼峰命名，默认是不开启 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- <setting name="lazyLoadingEnabled" value="true"/> -->
        <!-- <setting name="aggressiveLazyLoading" value="false"/> -->
    </settings>

</configuration>